<h1>Sign Up</h1>
<div id = "message"></div>
<%= form_for @user do |f| %>
  <div class = "labels text-body" >
    <%= f.label :name, class: "text-white" %><br>
    <%= f.text_field :name, class: "text_field", placeholder: "Name", autofocus: true %>
  </div>
  <div class = "labels text-body" >
    <%= f.label :email, class: "text-white" %><br>
    <%= f.text_field :email, class: "text_field", placeholder: "Email" %>
  </div>
  <div class = "labels text-body" >
    <%= f.label :password, class: "text-white" %><br>
    <%= f.password_field :password, class: "text_field", placeholder: "Password" %>
  </div>
  <div class = "labels text-body" >
    <%= f.label :password_confirmation, class: "text-white" %><br>
    <%= f.password_field :password_confirmation, class: "text_field", placeholder: "Retype Password" %>
  </div>
  <div class = "labels text-body" >
    <%= f.label :contact, class: "text-white" %><br>
    <%= f.number_field :contact, class: "text_field", placeholder: "Contact" %>
  </div>
  <div>
  <div>
    <br><%= f.submit "Sign up!", class: "btn btn-outline-dark" %>
  </div>
<% end %>
